@import "variables";

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}

.container {
  margin: 0 auto;
  box-sizing: border-box;
}

.button {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #222222;
  padding: 10px 48px;
  background: transparent;
  border: 1px solid #2222224D;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 1px;
    background: $dark-text-color;
    position: absolute;
    left: -12px;
    top: 19px;
    z-index: 3;
  }

  &:disabled {
    color: gray;
    cursor: not-allowed;
  }
}


.mat-menu-item {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 14px;

  &:hover {
    color: #EBEBEB;
  }

  & a {
    text-decoration: none;
    color: #222222B2;

    &:hover {
      color: $dark-text-color;
      border-bottom: 2px solid $dark-text-color;
      padding-bottom: 10px;
    }
  }
}
