@import "variables";

@mixin section-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #222222;

  span {
    color: transparent;
    -webkit-text-stroke: 1px $dark-text-color;
  }
}

@mixin section-before-line {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background: $dark-text-color;
  position: absolute;
  left: -80px;
  top: 18px;
}


@mixin section-title-small {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #222222;

  span {
    color: transparent;
    -webkit-text-stroke: 1px $dark-text-color;
  }
}

